<div class="search-bar form-inline">
  <h3>Name</h3>
  <input class="name-control" type="text" ng-model="$ctrl.name" />
  <h3>Brewery</h3>
  <input class="beer-control" type="text" ng-model="$ctrl.brewery" />
  <h3>Review</h3>
  <input class="review-control" type="text" ng-model="$ctrl.msg" />
  <button class="btn" ng-click="$ctrl.updateReviews()">
    <span class="glyphicon glyphicon-search"></span>
  </button>
  <div class="main">
  <div class="review-list">
    <h4> Review List </h4>
    There are {{$ctrl.list.length}} reviews.
    <br>
<ul>
 
        <review-list-item ng-repeat="item in $ctrl.list" review="item" />
      </ul>
    
  
  </review-list>
  </div>
</div>